<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main-page.css">
    <script src="/js/main-page.js"></script>
    <script src="/js/nav-bar-search.js"></script>
  </head>
  <body>

   <!--navigation bar-->

   <div class="navbar">
    <nav>
      <div class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">search</button>
          <div class="dropdown-content">
            <form id="search-form">
              <input type="text" id="search-box" placeholder="search...">
              <button class="submit-search" type="submit">go</button>
            </form>
          </div>                       
        </div>
      </div>
      <div class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">locations</button>
          <div class="dropdown-content">
            <a href="/location/taft">Taft Avenue</a>
            <a href="/location/agno">Agno Street</a>
            <a href="/location/leonguinto">Leon Guinto</a>
          </div>
        </div>
      </div>
      <div class="nav-item" id="title">
        <a href="/homepage"><img src="/assets/dlsu-food.png"></a>
      </div>
      <div class="nav-item">
        <div class="dropdown" id="profile-dropdown"> <!-- Add an ID to the profile dropdown -->
          <button class="dropbtn">profile</button>
          <div class="dropdown-content">
            <a href="/user-profile">user profile</a>
            <a href="/logout" id="logout-button">logout</a>
            <a href="/register">register</a>
          </div>
        </div>
      </div>
      <div class="nav-item"><a href="#">developers</a></div>
    </nav>
  </div>
  </body>
</html>