<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main-page.css">
    <script src="/js/main-page.js"></script>
    <script src="/js/nav-bar-search.js"></script>
  </head>
  <body>

   <!--navigation bar-->

   <div class="navbar">
    <nav>
      <div class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">search</button>
          <div class="dropdown-content">
            <form id="search-form">
              <input type="text" id="search-box" placeholder="search...">
              <button class="submit-search" type="submit">go</button>
            </form>
          </div>                       
        </div>
      </div>
      <div class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">locations</button>
          <div class="dropdown-content">
            <a href="/location/taft">Taft Avenue</a>
            <a href="/location/agno">Agno Street</a>
            <a href="/location/leonguinto">Leon Guinto</a>
          </div>
        </div>
      </div>
      <div class="nav-item" id="title">
        <a href="/homepage"><img src="/assets/dlsu-food.png"></a>
      </div>
      <!-- views/partials/navbar.hbs -->

<div class="nav-item">
    <div class="dropdown" id="profile-dropdown">
        <button class="dropbtn">profile</button>
        <div class="dropdown-content">
            {{#if user}}
                <!-- If user is logged in, show user profile and logout links -->
                <a href="/user-profile">user profile</a>
                <a href="/logout" id="logout-button">logout</a>
            {{else}}
                <!-- If user is not logged in, show login link -->
                <a href="/login" id="login-button">login</a>
            {{/if}}
            <a href="/register">register</a>
        </div>
    </div>
</div>

      <div class="nav-item"><a href="../about.hbs">about</a></div>
    </nav>
  </div>
  </body>
</html>
