<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/main-page.css">
  <script src="/js/main-page.js"></script>
  <script src="/js/nav-bar-search.js"></script>
</head>

<body>
  <div class="sorting-buttons">
      <button id="sort-alphabetically" class="sort" onclick="sortCards('alphabetically')">Alphabetically</button>
      <button id="sort-by-rating" class="sort" onclick="sortCards('by-rating')">By Rating</button>
  </div> 
</body>

</html>
