<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>DLSU Food Recs</title>
	 <link rel="stylesheet" href="/css/restaurant.css">
    <script src="/public/js/user-profile.js"></script>
    <script src="/public/js/nav-bar-search.js"></script>
  </head>
  
 <body>

    {{> navbar}}
    
    <div class="container my-4" alt="about">
        <h1 class="text-center" id = "title-restaurant">About</h1>
        <div class="row">
            <div class="col-md-6" id = "logo">
                <img src = "/assets/mascot.png">
            </div>
            <div class="col-md-6" id = "resto-info">
                <ul>
				<li>body-parser </li>
				<li>cors </li>
				<li>dotenv </li>
				<li>express </li>
				<li>express-handlebars </li>
				<li>express-session </li>
				<li>handlebars-helpers </li>
				<li>method-override </li>
				<li>mongodb </li>
				<li>mongoose </li>
                <li>bcrypt</li>
            </div>
        </div>
    </div>
	
	  </body>
	  </html>
  