<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/login-in.css">
   <title>Login Page</title>

   <script>
       function loginAndRedirect() {
           var username = document.querySelector('input[name="username"]').value;
           var password = document.querySelector('input[name="password"]').value;
           if (!username || !password || !(username && password)) {
               alert("Fill in username and password.");
           }
               
       }
   </script>

</head>
<body>
   <div class="pictures">
       <div id="title">
           <img src="/assets/dlsu-food.png">
       </div>
       <div id="mascot">
           <img src="/assets/mascot.png">
       </div>
   </div>
   <div class="login-container">
       <h2>ready for good food recs? log in here pare</h2>
       <form action="/login" method="post">
           <input type="text" name="username" placeholder="username" required>
           <input type="password" name="password" placeholder="password" required>
           <button type="submit" onclick = loginAndRedirect()>login</button>
       </form>
       <div class="remember">
           <input type="checkbox" name="remember">
           <p>Remember my account?</p>
       </div>  
       <p>don't have an account? <a href="/register">register</a></p>
       <p>or visit as a <a href="/homepage">guest</a></p>
   </div>
</body>
</html>
