<!--convert location file to hbs here-->

<!DOCTYPE html>

<html lang="en">
<head>
        <link rel = "stylesheet" href = "/css/location-page.css">
        <script src="/model/restaurantschema.js"></script>
</head>
<body>
    <!--header part-->

    <section class="location-title">
    <div>
        <h1>{{restaurant.location}}</h1>
    </div>
    <div class="sorting-buttons">
        <button id="sort-alphabetically" class="sort" onclick="sortCards('alphabetically')">Alphabetically</button>
        <button id="sort-by-rating" class="sort" onclick="sortCards('by-rating')">By Rating</button>
        <button id="sort-most-recent" class="sort" onclick="sortCards('most-recent')">Most Recent</button>
    </div>
    </section>
    
    <!--establishments cards-->
        
    <section class="container">
        <div class="card">
        <img class="card-logo" src="image location/ate rica's logo.jpg"></img>
        <div class="card-title">Ate Rica's Bacsilog</div>
        <div class="card-location">2466 Leon Guinto St, Malate, Manila, 1004 Metro Manila</div>
        <div class="reviews">
            <div class="recommend"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i> 18</div>
            <div class="notrecommend"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i> 7</div>
        </div>
        <div class="reviews-sum">(25 Reviews)</div>
        <p class="card-description">Ate Rica’s famous bacsilog is not about the bacon nor the egg—it’s their signature cheese sauce that transforms it into the rice bowl we know and love. Smooth and milky, it ties the whole dish together with a cheesy, lip-smacking quality. Without it, you’re just eating plain old bacon and rice.</p>
        <a class="view" role="button" href="AteRica.html">VIEW ESTABLISHMENT</a>
    </div>
    <div class="card">
        <img class="card-logo" src="image location/24chicken logo.jpg"></img>
        <div class="card-title">24 Chicken</div>
        <div class="card-location">EGI TAFT TOWER, 2339 Taft Ave, Malate, Manila, 1004 Metro Manila</div>
        <div class="reviews">
            <div class="recommend"><i class="fa-solid fa-thumbs-up" style="color: #ffffff;"></i> 30</div>
            <div class="notrecommend"><i class="fa-solid fa-thumbs-down" style="color: #ffffff;"></i> 5</div>
        </div>
        <div class="reviews-sum">(35 Reviews)</div>
        <p class="card-description">Serving happiness at a budget friendly price since 2017. Selling delicious Korean Fried Chicken is not our only goal. Being part of our customers’ lives and communities is what we aim for.</p>
        <a class="view" role="button" href="24Chicken.html">VIEW ESTABLISHMENT</a>
    </div>
    </section>
</body>
</html>
