<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Search Result</title>
 <link rel = "stylesheet" href = "/css/location-page.css">
 <script src="https://kit.fontawesome.com/62a1ef5fed.js" crossorigin="anonymous"></script>
</head>

<body>
 <!-- Navigation bar -->
 {{> navbar}}

 <!--header part-->
 <section class="location-title">
    <div>
        <h1>search result</h1>
    </div>
    {{> sortingButtons}}
 </section>
    
 <!--establishments cards-->
 <section class="container">
    {{#if results}}
    {{#each results as |result|}}
    {{> establishmentsCard result}}
    {{/each}}
    {{else}}
    <p>No results found.</p>
    {{/if}}
 </section> 

</body>

</html>
