body{
    font-family: Montserrat;
    background-image: url("background.png");
    font-size: 16px;
    color: #263a29;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.alignment {
    display: flex;
    height: 100vh; /* 100% of the viewport height */
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  